{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ good.title }}
{% endblock %}

{% block link %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'goods/js/productbar.js' %}"></script>
{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      {% comment %} <div class="col-8"></div> {% endcomment %}
      <div class="col-4 mt-5 d-flex" style="justify-content: space-between;">
        <a class="div" style="cursor: pointer;" id="good_info">Info about product</a><br />
        <a class="div" style="cursor: pointer;" id="characteristics">More info</a><br />
        <a class="div" style="cursor: pointer;" id="add_review">Add review</a><br />
      </div>
    </div>

    <div id="content">
      <!-- Здесь будет загружен другой шаблон -->
    </div>
  </div>
{% endblock %}
