{% extends 'base.html' %}
{% block title %}
  {{ subcategory.title }}
{% endblock %}

{% block content %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.ajaxLoader').hide()
      let originalProductsHTML = $('#filteredProducts').html()
      $('.filter-checkbox').on('click', function () {
        let _filterObj = {}
        $('.filter-checkbox').each(function (index, ele) {
          let _filterVal = $(this).val()
          let _filterKey = $(this).data('filter')
          _filterObj[_filterKey] = Array.from(document.querySelectorAll('input[data-filter=' + _filterKey + ']:checked')).map(function (el) {
            return el.value
          })
        })
        let filterActive = Object.values(_filterObj).some((arr) => arr.length > 0)
    
        if (filterActive) {
          // Выполнять AJAX-запрос только если есть активные фильтры
          performAjaxRequest(_filterObj)
        } else {
          // Восстановить исходные товары
          $('#filteredProducts').html(originalProductsHTML)
        }
        // Получить текущий URL-адрес страницы
    
        // AJAX
        function performAjaxRequest(_filterObj) {
          var subcategory_pk = window.location.pathname.split('/').pop()
          $.ajax({
            url: '/filter-data/' + subcategory_pk,
            data: _filterObj,
            dataType: 'json',
            beforeSend: function () {
              $('.ajaxLoader').show()
            },
            success: function (res) {
              let filteredProductsHTML = $(res.data).find('#filteredProducts').html()
              $('#filteredProducts').html(filteredProductsHTML)
              $('.ajaxLoader').hide()
            }
          })
        }
      })
    })
  </script>

  <div class="container mt-5">
    <div class="row">
      <div class="mt-5 col-4">
        {% for titles, param in fields_verbovse_name.items %}
          <label>
            {% for key in param.keys %}
              {{ key }}
            {% endfor %}
          </label><br />
          <ul>
            {% for item in param.values %}
              {% for val in item %}
                <input class="filter-checkbox" type="checkbox" data-filter="{{ titles }}" value="{{ val }}" />
                <label>{{ val }}</label><br />
              {% endfor %}
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="col-8" id="filteredProducts">
        <p class="ajaxLoader">Loading...</p>
        {% for good in goods %}
          {{ good.title }} -
          <b>{{ good.price }}</b>UAH<br />
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
