{% extends 'base.html' %}

{% block title %}
  Main
{% endblock %}

{% block content %}
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><h2>Shop</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"><span class="navbar-toggler-icon"></span></button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h3>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'registr' %}"><span>Sign up</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'autorize' %}"><span>Log in</span></a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <main>
    <div class="categories">
      <h1>Categories</h1>

      {% for category in categories %}
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ category.text }}</button>
          <ul class="dropdown-menu">
            {% for subcategory in category.subcategory_set.all %}
              <li>
                <a href="{% url 'subcategory' subcategory_pk=subcategory.pk %}">{{ subcategory.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div><br />
      {% endfor %}
    </div>
  </main>
{% endblock %}
