{% extends 'base.html' %}

{% block title %}
  Main
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="categories">
            <h1>Categories</h1>

            {% for category in categories %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ category.text }}</button>
                <ul class="dropdown-menu">
                  {% for subcategory in category.subcategory_set.all %}
                    <li>
                      <a href="{% url 'subcategory' subcategory_pk=subcategory.pk %}">{{ subcategory.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div><br />
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
